<div class="foot-container">
    <div class="button_box2">
        <div>
            <form class="form-wrapper-2">
        </div>
        <input class="input2" type="text" placeholder="youremail@domain.com" required>
        <button type="submit" class="submit_2" value="search">SUBSCRIBE</button>
        </form>
    </div>
    <div class="social-container">
        <a href="http://facebook.com" alt="link to facebook" target="_blank">
            <img src="/images/Facebook-Icon.png" alt="Facebook"></img>
        </a>
        <a href="http://twitter.com" alt="link to twitter" target="_blank">
            <img src="/images/Twitter-Icon.png" alt="Twitter"></img>
        </a>
        <a href="http://plus.google.com" alt="link to google plus" target="_blank">
            <img src="/images/Google-icon.png" alt="Google"></img>
        </a>
        <a href="http://linkedin.com" alt="link to linkedin" target="_blank">
            <img src="/images/Linkedin-icon.png" alt="Linkedin"></img>
        </a>
        <a href="http://Youtube.com" alt="link to youtube" target="_blank">
            <img src="/images/Youtube-Icon.png" alt="Youtube"></img>
        </a>
    </div>
    <div class="donate-container">
        <div class="heart"><img src="/images/heart-icon.png"></img>
        </div>
        <div class="submit_3">Donate</div>
    </div>
</div>