<div class="nav-container">
    <div class="site-logo">
        <img src="/images/Logo.png"></img>
    </div>
    <div class="nav">
        <div class="menu-button">
            <img src="{{ site.github.url }}/images/paw-icon.png"></img>
            <div class="home">Home</div>
        </div>
        <div class="button_box1">
            <input type="text" placeholder="Search" required>
            <div class="search-icon"><img type="image" src="{{ site.github.url }}/images/Search-Icon.png" alt="Submit"></div>
            </form>
        </div>
</div>