  /* CSS Styles are defined below */
  /**
 * Media Queries
 **/
  
  @media (min-width: 320px) {
    // .page::before {
    //   content: "320px";
    //   font-family: Arial, sans-serif;
    //   color: green;
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   font-weight: 700;
    //   margin: 5px;
    //   font-size: 2rem;
    //   z-index: 9999;
    // }
    .body-container {
      margin: 0;
      padding: 0;
      background-color: #de741e;
      height: auto;
      width: 100%;
    }
    .large-ginger {
      display: none;
    }
    .nav-container {
      flex-flow: column wrap;
      height: auto;
      width: 100%;
    }
    .nav {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: auto;
      margin: 10px;
    }
    .body-container {
      height: auto;
      width: 100%;
    }
    .left-container {
      height: auto;
      width: 100%;
    }
    .ginger img {
      height: auto;
      width: 100%;
    }
    .menu-button .button_box1 {
      display: flex;
    }
    .menu-button {
      order: 1;
    }
    .button_box1 {
      order: 1;
    }
    input {
      padding-left: 10px;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 14px;
      border: 0;
      height: 40px;
      width: 175px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 4px 0px 0px 4px;
    }
    .info-container {
      color: white;
      text-align: center;
    }
    .contact-icons {
      display: flex;
      justify-content: space-around;
      padding-bottom: 15px;
    }
    .foot-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: #1f1f1f;
      padding-top: 20px;
      height: 25%;
      width: 100%;
    }
    .social-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  
  @media (min-width: 480px) {
    // .page::before {
    //   content: "480px";
    //   color: maroon;
    // }
  }
  
  @media (min-width: 620px) {
    // .page::before {
    //   content: "620px";
    //   color: orange;
    // }
    .body-container {
      margin: 0;
      padding: 0;
      background-color: #de741e;
      height: auto;
      width: 100%;
    }
    .left-container {
      height: auto;
      width: 100%;
    }
       .foot-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: #1f1f1f;
      padding: 20px;
      height: 25%;
      width: 100%;
    }
  }
  
  @media (min-width: 810px) {
    // .page::before {
    //   content: "810px";
    //   color: black;
    // }

    body {
      margin: 0;
      padding: 0;
      font-family: 'Source Sans Pro', sans-serif;
    }
    .left-container {
      width: auto;
      height: auto;
    }
    .body-container {
      display: flex;
      margin: 0;
      padding: 0;
      background-color: #de741e;
      height: 80%;
      width: 100%;
    }
    .large-ginger {
      display: initial;
    }
    .large-ginger img {
      display: initial;
      height: auto;
      width: 90%;
    }
   .foot-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #1f1f1f;
      padding-top: 20px;
      height: auto;
      width: auto;
    }
  }
  
  @media (min-width: 1200px) {
    // .page::before {
    //   content: "1200px";
    //   color: CornflowerBlue;
    // }
       .left-container {
      width: auto;
      height: auto;
    }
    .large-ginger {
      display: initial;
    }
    .large-ginger img {
      height: auto;
      width: auto;
    }
    .foot-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #1f1f1f;
      padding-top: 20px;
      height: auto;
      width: auto;
    }
  }
  
  @media (min-width: 1400px) {
    // .page::before {
    //   content: "1400px";
    //   color: red;
    // }
     .left-container {
      width: auto;
      height: auto;
    }
    .large-ginger {
      display: initial;
    }
    .large-ginger img {
      height: auto;
      width: auto;
    }
    .foot-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #1f1f1f;
      padding-top: 20px;
      height: auto;
      width: auto;
    }
  }